<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Restaurants</title>
</head>
<body>
    <h1>Filter Restaurants</h1>
    <form method="post" action="{{ url_for('filter_restaurants') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.cuisine.label }}
            {{ form.cuisine() }}
        </div>
        <div>
            {{ form.price.label }}
            {{ form.price() }}
        </div>
        <div>
            {{ form.review.label }}
            {{ form.review() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
